channels:
  - pytorch
  - pytorch3d
  - conda-forge
  - defaults
  - nvidia
dependencies:
  - python=3.7
  - igl
  - cudatoolkit=11.3
  - pytorch::pytorch=1.11.0
  - pytorch3d::pytorch3d
  - pytorch-lightning
  - torchvision
  - trimesh
  - tqdm
  - opencv
  - scikit-learn
  - matplotlib
  - Pillow
  - PyYAML
  - numpy
  - scipy
  - pandas
  - tensorboardX
  - pip
  - pip:
        - "local-attention"
        - "smplx"
        - "plyfile"
        - "configer"
        - "pyrender"
        - "openmesh"
        - "boto3"
        - "torchgeometry"
        - "tensorboard"
        - "rtree"
        - "open3d"
        - "setuptools"
        - "git+https://github.com/MPI-IS/mesh.git"
        - "git+https://github.com/nghorbani/human_body_prior.git"
        - "git+https://github.com/erikwijmans/Pointnet2_PyTorch.git#egg=pointnet2_ops&subdirectory=pointnet2_ops_lib"
        - "pyopengl"
        - "scikit-image"
        - "dotmap"
